.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    background-color: aqua;
}

.header h4 {
    margin-right: 20px;
}

.card__wrapper {
    display: flex;
    gap: 20px
}

.card__item {
    background-color: brown;
    /* margin: 20px auto; */
    width: 180px;
    /* display: flex; */
    /* flex-direction: column; */
}

.card__price {
    color: blue;
}

.card__image {
    height: 150px
}

.card__title__price {
    display: flex;
    justify-content: space-between;
}