.card__wrapper {
    padding: 20px;
    background: whitesmoke;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.card__image {
    height: 80px
}

.card__btn {
    border: none;
    outline: none;
    /* background: #764abc; */
    background: rgb(159, 80, 80);
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.card__btn:hover {
    /* background: #513282; */
    background: rgb(148, 4, 4);
}

/* 
union types
intersection types
difference between interface and type
making a field optional in interface
difference between any , undefined 
null check
image is optional
array type object type how it is defined
nested types ?
api call make hook 
login from rtk
types in different folder ---> import
only one type use in entire product --> Implementation
 */

/* 
 - Dummy project with RTK, Typescript, Next-13, react hook form.
In Progress
1. Login with RTK  
2. Api call with hooks
 */